.all-rating-page {
  font-family: "NotoSerif", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #333;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 12px 3px gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  overflow-y: scroll;

  .employer-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    .filial-select,
    .role-select {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      width: 150px;
      transition: 0.3s ease;

      &:focus {
        border-color: #f96000;
        outline: none;
        box-shadow: 0 0 5px #f9600073;
      }
    }
  }

  .filter-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

    select{
      width: 120px;
      padding: 0.5rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    button {
      padding: 8px 16px;
      font-size: 18px;
      border: 2px solid #f96000;
      border-radius: 10px;
      background-color: #fff;
      color: #f96000;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f96000;
        color: #fff;
      }
      &.active {
        background-color: #f96000;
        color: #fff;
      }
    }
  }

  .table-wrap-box {
    overflow-y: auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin-top: 1rem;
    border-radius: 12px;

    .employer-table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      overflow: hidden;
      table-layout: fixed;

      th{
        background-color: #1e293b;
        color: #ffaa22;
        border: 1px solid white;
      }

      th:first-child{
        width: 5%;
      }

      th:nth-child(2){
        width: 40%;
      }


      th,
      td {
        text-align: center;
        padding: 14px;
        border-bottom: 1px solid #eee;
        font-size: 16px;

      }

      td img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #f96000;
      }

      td{
        font-size: 18px;
      }
    }

  }

}