.carousel-container {
  width: 100%;
  margin: 40px auto 0;
  padding: 0 0.5rem;
}

.slick-list {
  height: auto !important;
}

.slick-track {
  height: auto !important;
  display: flex !important;
}

.slick-slide {
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-slide > div {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}

.commentCard {
  padding: 0.8rem 1.5rem;
  border-top: 11px solid #ffaa22;
  box-shadow: 0 10px 18px 0 #2b5a8d;
  text-align: center;
  height: 383px !important;
  transition-duration: 1s;
  scale: 0.9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .comment-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-header{
      width: 100%;
      height: 22%;
      display: flex !important;
      justify-content: space-between;
      color: #141D30;
      //height: max-content !important;

      .circle{
        min-width: 60px;
        height: 60px;
        background-color: #141D30;
        border-radius: 50%;
        color: #ffaa22;
        margin-left: 10px !important;
      }

      .rating{
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        font-size: 22px;
        gap: 3px;

        .ico{
          color: #ffaa22;
        }

      }

    }

    .text-footer {
      display: block;
      width: 100%;
      height: 76%;
      align-items: start !important;
      justify-content: start !important;
      font-family: "SansSerif", sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #141D30;
      overflow-y: auto;


    }

  }

}





.commentCard2 {
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  color: #616161;
  border-top: 11px solid #00D594;
  box-shadow: 0 17.91px 26.87px 0 #005C002E;
  text-align: center;
  height: 383px !important;
  transition-duration: 1s;
  scale: 0.9;
}

.elevated {
  transition-duration: 1s;
  transform: translateY(-90px);
  height: 400px;
  scale: 1.1;
}


.slick-dots li button:before {
  font-size: 12px;
  color: #C4C4C4;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  color: #00D594;
  background-color: white;
  border: 1px solid #00D594;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: #ffaa22;
  font-size: 30px;
  cursor: pointer;

}

.commentName {
  font-weight: 700;
}

.commentName2 {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  word-break: break-all;
}



.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.color-white {
  color: white;
}

.pSend {
  font-weight: 700;
  font-size: 22px;
  color: white !important;
  margin: 0;
}

.w-100 {
  width: 100%;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.feedback {
  font-size: 30px;
}

.star {
  width: 25px;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 17px;
  color: darkgrey;
}

.commentInputs {
  margin-top: 30px;
  display: flex;
  gap: 18px;
}

.inp {
  width: 50%;
  border: 1px solid #00D594;
  font-size: 18px;
  height: 50px;
  border-radius: 5px;
  padding-left: 8px;
}

.comment-inp {
  border: 1px solid #00D594;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  padding-left: 8px;
  padding-top: 8px;
}





.loremText {
  font-size: 50px;
  font-family: Serif, serif;
  font-weight: 800;
}

.star-div {
  margin-top: 50px;
}

.commentCard1 {
  width: 600px;
  margin: 110px auto 0;
  text-align: center;
  height: 383px !important;
  padding: 0.8rem 1.5rem;
  border-top: 11px solid #ffaa22;
  box-shadow: 0 10px 18px 0 #2b5a8d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .comment-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-header{
      display: flex;
      align-items: center;
      width: 100%;
      height: 22%;
      justify-content: space-between;
      color: #141D30;

      .circle{
        min-width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #141D30;
        border-radius: 50%;
        color: #ffaa22;
        margin-left: 10px !important;
      }

      .rating{
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        font-size: 22px;
        gap: 3px;

        .ico{
          color: #ffaa22;
        }

      }

    }

    .text-footer {
      display: block;
      width: 100%;
      height: 76%;
      align-items: start !important;
      justify-content: start !important;
      font-family: "SansSerif", sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #141D30;
      overflow-y: auto;


    }

  }

}

.slick-prev {
  left: -15px;


}

.slick-next {
  right: -15px;


}



@media (max-width: 770px) and (min-width: 380px) {
  @media (max-width: 650px){
    .commentCard1{
      width: 80%;
      .comment-text{
        .text-center{
          h3{
            font-size: 18px;
          }
        }
        .commentFooter{
          p{
            font-size: 14px;
          }
        }
      }
    }
    .commentCard2{
      .comment-text{
        .text-center{
          h3{
            font-size: 18px;
          }
        }
        .commentFooter{
          p{
            font-size: 14px;
          }
        }
      }
    }
    .commentCard3{
      .comment-text{
        .text-center{
          h3{
            font-size: 18px;
          }
        }
        .commentFooter{
          p{
            font-size: 14px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .comment-rodal{
      .rodal-dialog{
        width: 371px!important;
      }
    }
    .inp{
      font-size: 16px;
    }

  }
}

@media (max-width: 379px) {
  .comment-rodal{
    .rodal-dialog{
      width: 310px!important;
    }
  }
  .float-start{
    span{
      font-size: 20px !important;
    }
  }
  .commentCard1{
    width: 80%;

    .comment-text{
      .text-center{
        h3{
          font-size: 16px;
        }
      }
      .commentFooter{
        p{
          word-break: break-word;
          font-size: 12px;
        }
      }
    }
  }
  .commentCard2{

    .comment-text{
      .text-center{
        h3{
          font-size: 16px;
        }
      }
      .commentFooter{
        p{
          word-break: break-word;
          font-size: 12px;
        }
      }
    }
  }
  .commentCard3{

    .comment-text{
      .text-center{
        h3{
          font-size: 16px;
        }
      }
      .commentFooter{
        p{
          word-break: break-word;
          font-size: 12px;
        }
      }
    }
  }
  .inp{
    font-size: 13px;
  }
  .comment-inp{
    font-size: 13px;
  }
  #captcha{
    width: 250px !important;
  }
}