.refund-page{
  position: relative;
  font-family: "NotoSerif", sans-serif;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 12px 3px gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .refund-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    .filial-select,
    .role-select {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      width: 150px;
      transition: 0.3s ease;

      &:focus {
        border-color: #f96000;
        outline: none;
        box-shadow: 0 0 5px #f9600073;
      }
    }

    .btn{
      border: none;
      border-radius: 8px;
      padding:0.6rem 1rem;
      background-color: #f96000;
      color: white;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;

      &:active{
        scale: 1.1;
      }

    }

  }

  .table-wrap-refund {
    overflow-y: auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin-top: 1rem;
    border-radius: 12px;

    .refund-table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      overflow: hidden;
      table-layout: fixed;

      th {
        background-color: #1e293b;
        color: #ffaa22;
        border: 1px solid white;
      }

      th:first-child {
        width: 5%;
      }

      th:nth-child(2) {
        width: 25%;
      }

      th,
      td {
        text-align: center;
        padding: 14px;
        border-bottom: 1px solid #eee;
        font-size: 16px;
      }

      td {
        font-size: 18px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid #f96000;
        }

        .select-status {
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 14px;
          width: 150px;
          transition: 0.3s ease;

          &:focus {
            border-color: #f96000;
            outline: none;
            box-shadow: 0 0 5px #f9600073;
          }
        }

        .s {
          font-size: 18px;
          font-weight: bold;
          padding: 5px;
          color: white;
          border-radius: 15px;
        }

        .active {
          background-color: #39f839;
        }

        .left {
          background-color: red;
        }

        .graduated {
          background-color: #00ceff;
        }

        .btn-del {
          background-color: red;
          color: white;
          padding: 0.3rem 0.5rem;
          border: none;
          border-radius: 8px;
          font-size: 18px;
          cursor: pointer;

          &:active {
            scale: 1.1;
          }
        }

        .actions-t {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          .btn-t {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 20px;
            color: #fff;

            &:hover {
              cursor: pointer;
              box-shadow: 0px 0px 12px 1px black;
            }
          }

          .t-btn-edit {
            background-color: orange;
          }

          .t-btn-delete {
            background-color: red;
          }

          .t-btn-check {
            background-color: greenyellow;
          }

          .t-btn-cancel {
            background-color: gray;
          }
        }
      }
    }
  }

  .modal-backdrop {
    z-index: 1000;
    padding: 2rem;

    .modal {
      width: 400px;

      h2 {
        width: max-content;
        margin: 0 auto;
        font-size: 30px;
      }

      .discounts-wrap {
        border-radius: 10px;
        height: 450px;
        padding: 0.5rem;

        h2{
          color: #a8a8a8;
        }

        .dis-card{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 0.8rem;
          border-radius: 10px;
          border: 1px solid #ccc;

          .actions-d{
            display: flex;
            align-items: center;
            gap: 5px;

            .btn{
              font-size: 18px;
              border: none;
              border-radius: 8px;
              padding: 0.5rem;
              color: white;
            }

            .btn-e{
              background-color: #ffaa22;
            }

            .btn-d{
              background-color: red;
            }


          }

        }

      }

      .btn-close{
        margin: 0 auto;
        width: max-content;
        padding: 0.5rem;
        font-size: 18px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 8px;
      }

      label {
        display: block;
        margin: 0 auto;

        h4 {
          color: #f96000;
          font-size: 22px;
        }
      }

      .inp-d {
        width: 270px;
        font-size: 22px;
        padding: 0.5rem 0.5rem;
        color: #f96000;
        font-weight: bold;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        -moz-appearance: textfield;


      }

      .modal-actions {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 1rem;
        gap: 20px;

        .btn {
          width: 100% !important;
          font-size: 18px;
          border-radius: 10px;

          &:hover{
            scale: 1.1 !important;
          }

        }

        .btn-add{
          background-color: #4ade80;
        }

        .btn-close{
          background-color: red;
        }

      }
    }
  }


}