.students-wrapper {
  width: 100%;
  min-height: 80vh;
  padding-bottom: 5rem !important;


  .container-s {
    max-width: 1560px;
    min-height: max-content;
    margin: 0 auto;
    padding: 0 2rem;


    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      padding-bottom: 0.5rem;

      h1{
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        color: #2d3748;
        margin-bottom: 60px;
        position: relative;
      }

      h1::after{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 4px;
        background: linear-gradient(90deg, #ff9a56, #ffad56);
        border-radius: 2px;
      }

    }

    .sect-wrap {
      width: 100%;
      border-radius: 30px;
      padding: 0 3rem;

      .head-card {
        .wrap-students {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          border-radius: 50px;

          .wrap-stu {
            min-width: 85px;
            width: 85px;
            height: 85px;
            border: 2.5px solid #1e5ea1;
            border-radius: 50px;
            overflow: hidden;
            background-color: #f9b03a;

            .img {
              width: 100%;
              object-fit: cover;
            }
          }

          .active {
            border: 3px solid orangered;
            box-shadow: 0px 0px 15px 3px orange;
            border-radius: 50px;
            padding: 0.5rem 0;
            padding-right: 0.5rem;
            width: max-content;
            gap: 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 1s ease-out;

            img{
              border-radius: 50px;
              width: 80px !important;
              height: 80px;
            }

          }

          .wrap-stu:hover {
            border-radius: 15px;
            padding: 0.5rem;
            width: max-content;
            gap: 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 1s ease-out;


            img{
              border-radius: 10px;
              width: 80px;
              height: 80px;
            }

          }


        }
      }

      .body-card {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .result-text {
          width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;

          .res-card {
            display: flex;
            gap: 1rem;
            width: 70%;
            height: 80px;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
          }

          .res-1 {
            box-shadow: 0px 0px 20px 5px greenyellow inset;
          }
          .res-2 {
            box-shadow: 0px 0px 20px 5px yellow inset;
          }
          .res-3 {
            box-shadow: 0px 0px 20px 5px orange inset;
          }
          .res-4 {
            box-shadow: 0px 0px 20px 5px red inset;
          }
          .res-5 {
            box-shadow: 0px 0px 20px 5px deepskyblue inset;
          }
          .res-6 {
            h1 {
              font-size: 25px;
            }
            box-shadow: 0px 0px 20px 5px rgb(234, 0, 255) inset;
          }
        }

        .result-img {
          width: 48%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 650px;
            object-fit: scale-down;

          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  .head-card{
    .wrap-students{
      gap: 20px !important;

      .wrap-stu{
        min-width: 75px !important;
        width: 75px !important;
        height: 75px !important;

        img{
          width: 100% !important;
        }

      }

      .active{
        width: max-content !important;

        img{
          border-radius: 50px;
          width: 75px !important;
          height: 75px !important;
        }

      }

    }

  }

  .body-card{
    flex-direction: column-reverse;
    align-items: center;

    .result-img{
      margin-bottom: 1rem;

      img{
        border: 1px solid;
        height: max-content !important;
        margin: 1.5rem auto !important;
      }

    }

    .result-text{
      width: 100% !important;
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);

      .res-card{
        width: 85% !important;
        margin: 1rem auto;
      }

    }

  }

}

@media (max-width: 768px) {

  .container-s{

    .header{
      .main-title{
        font-size: 32px !important;
        margin-top: 1rem !important;
      }
    }

  }

  .head-card{
    .wrap-students{
      gap: 20px !important;

      .wrap-stu{
        min-width: 75px !important;
        width: 75px !important;
        height: 75px !important;

        img{
          width: 100% !important;
        }

      }

      .active{
        width: max-content !important;

        img{
          border-radius: 50px;
          width: 150px !important;
          height: 75px !important;
        }

      }

    }

  }

  .body-card{
    flex-direction: column-reverse;
    align-items: center;

    .result-img{
      margin-bottom: 1rem;

      img{
        border: 1px solid;
        height: max-content !important;
        margin: 1.5rem auto !important;
      }

    }

    .result-text{
      width: 100% !important;
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);

      .res-card{
        width: 85% !important;
        margin: 1rem auto;
      }

    }

  }
}

@media (max-width: 480px) {
  .container-s{
    padding: 0 1rem !important;

    .header{
      .main-title{
        font-size: 24px !important;
        margin-top: 1rem !important;
      }
    }

  }

  .head-card{
    .wrap-students{
      gap: 20px !important;

      .wrap-stu{
        min-width: 75px !important;
        width: 75px !important;
        height: 75px !important;

        img{
          width: 100% !important;
        }

      }

      .active{
        width: max-content !important;

        img{
          border-radius: 50px;
          width: 75px !important;
          height: 75px !important;
        }

      }

    }

  }

  .sect-wrap{

    padding: 0 0 !important;

    .body-card{
      flex-direction: column-reverse;
      align-items: center;



      .result-img{
        width: 100%;
        margin-bottom: 1rem;

        img{
          min-width: max-content !important;
          width: 100%;
          height: 340px !important;
          object-fit: cover !important;
        }


      }

      .result-text{
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);

        .res-card{
          width: 85% !important;
          margin: 1rem auto;

          h1{
            font-size: 20px !important;
          }

        }

      }

    }

  }


}

@media (max-width: 375px) {
  .container-s{
    padding: 0 1rem !important;

    .header{
      .main-title{
        font-size: 24px !important;
        margin-top: 1rem !important;
      }
    }

  }

  .head-card{
    .wrap-students{
      gap: 20px !important;

      .wrap-stu{
        min-width: 65px !important;
        width: 65px !important;
        height: 65px !important;

        img{
          max-width: 65px !important;
          width: 100% !important;
        }

      }

      .active{
        width: max-content !important;

        img{
          border-radius: 50px;
          width: 65px !important;
          height: 65px !important;
        }

      }

    }

  }

  .sect-wrap{

    padding: 0 0 !important;

    .body-card{
      flex-direction: column-reverse;
      align-items: center;



      .result-img{
        width: 100%;
        margin-bottom: 1rem;

        img{
          min-width: max-content !important;
          width: 100%;
          height: 340px !important;
          object-fit: cover !important;
        }


      }

      .result-text{
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);

        .res-card{
          width: 90% !important;
          margin: 0.6rem auto;

          h1{
            font-size: 20px !important;
          }

        }

      }

    }

  }

}
