.students-wrapper {
  width: 100%;
  min-height: 80vh;
  padding-bottom: 5rem !important;


  .container-s {
    max-width: 1560px;
    min-height: max-content;
    margin: 0 auto;
    padding: 0 2rem;


    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      padding-bottom: 0.5rem;

      h1{
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        color: #2d3748;
        margin-bottom: 60px;
        position: relative;
      }

      h1::after{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 4px;
        background: linear-gradient(90deg, #ff9a56, #ffad56);
        border-radius: 2px;
      }

    }

    .sect-wrap {
      width: 100%;
      border-radius: 30px;
      padding: 0 3rem;

      .head-card {
        .wrap-students {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          border-radius: 50px;

          .wrap-stu {
            min-width: 100px;
            width: 100px;
            height: 100px;
            border: 2.5px solid #1e5ea1;
            border-radius: 50px;
            overflow: hidden;
            background-color: #f9b03a;

            .img {
              width: 100%;
              object-fit: cover;
            }
          }

          .active {
            border: 3px solid orangered;
            box-shadow: 0px 0px 15px 3px orange;
            border-radius: 15px;
            padding: 0.5rem;
            width: max-content;
            gap: 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 1s ease-out;

            img{
              border-radius: 10px;
              width: 80px !important;
              height: 80px;
            }

          }

          .wrap-stu:hover {
            border-radius: 15px;
            padding: 0.5rem;
            width: max-content;
            gap: 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 1s ease-out;


            img{
              border-radius: 10px;
              width: 80px;
              height: 80px;
            }

          }


        }
      }

      .body-card {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .result-text {
          width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;

          .res-card {
            display: flex;
            gap: 1rem;
            width: 300px;
            height: 80px;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
          }

          .res-1 {
            box-shadow: 0px 0px 20px 5px greenyellow inset;
          }
          .res-2 {
            box-shadow: 0px 0px 20px 5px yellow inset;
          }
          .res-3 {
            box-shadow: 0px 0px 20px 5px orange inset;
          }
          .res-4 {
            box-shadow: 0px 0px 20px 5px red inset;
          }
          .res-5 {
            box-shadow: 0px 0px 20px 5px deepskyblue inset;
          }
          .res-6 {
            h1 {
              font-size: 25px;
            }
            box-shadow: 0px 0px 20px 5px rgb(234, 0, 255) inset;
          }
        }

        .result-img {
          width: 48%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 650px;
            object-fit: scale-down;

          }
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .students-wrapper {
    .container {
      padding: 0 1rem;

      .header h1 {
        font-size: 32px;
        padding: 1.5rem 2rem;
      }

      .sect-wrap {
        padding: 0 2rem;

        .head-card .wrap-students {
          gap: 20px;

          .circle {
            width: 80px;
            height: 80px;

            .img {
              scale: 0.9;
            }
          }
        }

        .body-card {
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;

          .result-text {
            width: 100%;
            .res-card {
              width: 90%;
              height: 70px;
              margin-bottom: 1rem; /* Added margin-bottom */
            }
            .res-6 h1 {
              font-size: 28px;
            }
            .res-1 h2,
            .res-2 h2,
            .res-3 h2,
            .res-4 h2,
            .res-5 h2 {
              font-size: 30px;
            }
            .res-1 h1,
            .res-2 h1,
            .res-3 h1,
            .res-4 h1,
            .res-5 h1 {
              font-size: 30px;
            }
          }

          .result-img {
            width: 80%;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .students-wrapper {
    .container {
      .header h1 {
        font-size: 28px;
        padding: 1rem 1.5rem;
      }

      .sect-wrap {
        padding: 0 1.5rem;

        .head-card .wrap-students {
          gap: 15px;
          overflow-x: auto;
          padding-bottom: 0.5rem;

          .circle {
            width: 60px;
            height: 60px;
            border-width: 2px;

            .img {
              scale: 0.8;
            }
          }
        }

        .body-card {
          flex-direction: column;
          gap: 1rem;

          .result-text {
            width: 100%;
            .res-card {
              width: 100%;
              height: 60px;
              margin-bottom: 0.8rem; /* Added margin-bottom */
            }

            .res-6 h1 {
              font-size: 20px;
            }

            .res-card h2 {
              font-size: 14px;
            }
            .res-card h1 {
              font-size: 24px;
            }
          }

          .result-img {
            width: 100%;
            img {
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .students-wrapper {
    .container {
      .header h1 {
        font-size: 22px;
        padding: 0.5rem 1rem;
      }

      .sect-wrap {
        padding: 0 1rem;

        .head-card .wrap-students {
          padding: 0.8rem 0;
          gap: 10px;

          .circle {
            display: block !important;
            width: 50px;
            height: 50px;
            border-width: 2px;
            background-color: #f9b03a;

            .img {
              scale: 0.7;
            }
          }
        }

        .body-card {
          flex-direction: column;
          gap: 0.8rem;

          .result-text {
            width: 100%;
            .res-card {
              width: 100%;
              height: 50px;
              border-radius: 40px;
              margin-bottom: 0.5rem; /* Added margin-bottom */
            }
            .res-6 h1 {
              font-size: 18px;
            }
            .res-card h2 {
              font-size: 18px;
            }
            .res-card h1 {
              font-size: 20px;
            }
          }

          .result-img {
            width: 100%;
            img {
              width: 100%;
              box-shadow: 0px 0px 15px 3px #f9b03a;
            }
          }
        }
      }
    }
  }
}
