.employer-page {
  font-family: "NotoSerif", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #333;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 12px 3px gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  overflow-y: scroll;

  .modal-rec-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-rec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    max-width: 90%;

    input{
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 100%;
    }
  }

  .employer-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    .filial-select,
    .role-select {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      width: 150px;
      transition: 0.3s ease;

      &:focus {
        border-color: #f96000;
        outline: none;
        box-shadow: 0 0 5px #f9600073;
      }
    }
  }

  .table-wrap-box {
    overflow-y: auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin-top: 1rem;
    border-radius: 12px;

    .employer-table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      overflow: hidden;
      table-layout: fixed;

      th{
        background-color: #1e293b;
        color: #ffaa22;
        border: 1px solid white;
      }

      .table-group-checkboxes{

        label{
          display: flex;
          align-items: center;
          font-size: 16px;
          gap: 3px;
          text-wrap: nowrap;
          width: max-content;
          margin: 3px 0;

          .inp-check{
            width: 20px;
            height: 20px;
          }

        }

      }

      th:first-child{
        width: 5%;
      }
      th:nth-child(2){
        width: 7%;
      }

      tr{

        td:nth-child(7){
          overflow-x: auto ;
        }

      }

      th:last-child{
        width: 10%;
      }


      th,
      td {
        text-align: center;
        padding: 14px;
        border-bottom: 1px solid #eee;
        font-size: 16px;

      }

      td img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #f96000;
      }

      .input-edit {
        padding: 6px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 100%;
        font-size: 16px;
        text-align: center;

        &:focus {
          border-color: #f96000;
          outline: none;
          box-shadow: 0 0 5px #f9600073;
        }
      }

      .change-p-btn {
        background-color: darkblue;
        padding: 6px 10px;
        color: #fff;
        border: none;
        border-radius: 6px;
      }

      .actions-t {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .btn-t {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          font-size: 20px;
          color: #fff;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 12px 1px black;
          }
        }

        .t-btn-edit {
          background-color: orange;
        }
        .t-btn-delete {
          background-color: red;
        }
        .t-btn-check {
          background-color: greenyellow;
        }
        .t-btn-cancel {
          background-color: gray;
        }
      }
    }

  }


}


/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 90%;
  width: 320px;
  text-align: center;
  position: relative;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .closeBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #f96000;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
}
