.msg-select-root {
  position: relative;
  width: 100%;

  .msg-select-selected {
    padding: 8px 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    cursor: pointer;
    background: #f96000;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

    span {
      transition: 0.2s;
    }

    .open {
      transform: rotate(180deg);
    }
  }

  .msg-select-dropdown {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    font-size: 20px;
    background: #fcbc5d;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    z-index: 999;
  }

  .msg-select-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background: #f3f4f6;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .msg-select-add {
    display: flex;
    gap: 6px;
    padding: 6px;
    border-top: 1px solid #e5e7eb;

    input {
      flex: 1;
      height: 45px;
      font-size: 18px;
      padding: 5px;
      border: 1px solid #d1d5db;
      border-radius: 4px;
    }

    button {
      width: 32px;
      border: none;
      border-radius: 4px;
      background: #2563eb;
      color: white;
      cursor: pointer;
    }
  }
}
