.message-page {
  position: relative;
  background-color: #fefefe;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 12px 3px gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .select-wrap-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    label {
      font-weight: bold;
      color: #f96000;
    }

    select {
      width: 200px;
      padding: 0.7rem;
      border: 2px solid #f96000;
      border-radius: 10px;
      font-size: 1rem;
      background: white;
      outline: none;
      transition: box-shadow 0.3s ease;

      &:focus {
        box-shadow: 0 0 8px rgba(249, 96, 0, 0.5);
      }
    }

    .send-msg-btn {
      height: max-content !important;
      background: #f96000;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 0.85rem !important;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-bottom: -10px;

    }
  }

}



/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-body {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  h2 {
    margin: 0;
    color: #f96000;
    text-align: center;
  }

  label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h3{
      color: #ffaa22;
      font-size: 20px;
    }

    .inp-check{
      width: 30px;
      height: 30px;
    }

  }

  .area-message {
    width: 100%;
    height: 200px !important;
    padding: 0.8rem;
    border: 2px solid #f96000;
    border-radius: 10px;
    font-size: 22px;
    outline: none;
    resize: unset;

    &:focus {
      box-shadow: 0 0 8px rgba(249, 96, 0, 0.5);
    }
  }

  .modal-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .btn {
      flex: 1;
      padding: 0.7rem;
      font-size: 1rem;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:first-child {
        background: #f96000;
        color: white;

        &:hover {
          background: #ccc;
        }
      }

      &:last-child {
        background: #00D594;
        color: white;

        &:hover {
          background: #ccc;

        }
      }
    }
  }
}


.studentR-table {
  max-width: 1300px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  overflow: hidden;
  table-layout: fixed;

  th,
  td {
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    word-wrap: break-word;
  }

  th:first-child{
    width: 5%;
  }

  th {
    background-color: #f96000;
    color: #fff;
    font-weight: bold;
  }

  td .inp-g{
    background-color: #ffc392;
    border: 1px solid #f96000;
  }

  td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #f96000;
  }

  td input {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 110%;
    height: 38px;
    font-size: 16px;
    text-align: center;
  }

  td .inp-check-box{
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .table-group-checkboxes{
    width: 110%;

    label{
      display: flex;
      align-items: center;
      margin: 3px 0;
    }

    .inp-check{
      width: 20px;
      height: 20px;
    }

  }

  .change-p-btn{
    background-color: #1e293b;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
  }

  .input-edit {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 120px;
    font-size: 14px;
    text-align: center;

    &:focus {
      border-color: #f96000;
      outline: none;
      box-shadow: 0 0 5px #f9600073;
    }
  }

  tr:hover {
    background-color: #fff5ec;
  }

  .actions-t{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 5px;

    .btn-t{
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      font-size: 20px;
      color: #fff;


      &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 12px 1px black;

      }
    }

    .t-btn-edit{
      background-color: orange;
    }

    .t-btn-delete{
      background-color: red;
    }

    .t-btn-check{
      background-color: greenyellow;
    }

    .t-btn-cancel{
      background-color: gray;
    }

  }

  .expanded-row {
    background-color: #f9f9f9;

    td {
      padding: 12px;
    }

    .expanded-content {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      p {
        flex: 1 1 45%;
        margin: 4px 0;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}

.select-container {
  max-width: 400px;
  margin-bottom: 1rem;
  label {
    font-weight: bold;
    color: #f96000;
  }
  select {
    width: 100%;
    padding: 0.7rem;
    border: 2px solid #f96000;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    &:focus {
      box-shadow: 0 0 8px rgba(249, 96, 0, 0.5);
    }
  }
}

